<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <style>
    table, th, td {
        border: 1px solid black;
    }
    </style>
  <meta charset="utf-8">
  <title>KM4UIH Weather Report</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
  <nav class="row" style="background: #337ab7; color: white;">
    <h1 class="col-md-3 text-center">KM4UIH Dashboard</h1>
  </nav>
  <br />
  <br />
  <!-- Solar weather from N3KL.org  -->
  <nav>
      <table>
  <tr>
    <td ALIGN=RIGHT WIDTH=150><STRONG>Solar X-rays: <BR> Geomagnetic Field: </STRONG></td>
    <td><TABLE BORDER=2 CELLSPACING=3 CELLPADDING=0><TR>
    <TD ALIGN=CENTER><CENTER><A HREF="http://www.n3kl.org/sun/noaa.html"><IMG WIDTH=121
    HEIGHT=20 BORDER=1 ALT="Status" SRC="http://www.n3kl.org/sun/images/status.gif?"></A></CENTER></TD>
    <TR><TD ALIGN=CENTER><CENTER><A HREF="http://www.n3kl.org/sun/noaa.html"><IMG WIDTH=121
    HEIGHT=20 BORDER=1 ALT="Status" SRC="http://www.n3kl.org/sun/images/kpstatus.gif?"></A</CENTER</TD>
</TR></TABLE></td> &nbsp;</TR>
 From <A HREF="http://www.n3kl.org/sun/noaa.html">n3kl.org</A></CENTER>
  </tr>
</table>
  </nav>
  <!-- Search for city weather data -->
  <center>

  <!-- Search the FCC Callsign Database -->
  <nav>
  <h3>Search Callsign Database</h3>
</nav>
  <nav>
      <form class="form-inline" method="post">
          <div class="form-group">
              <label for="callsign">Callsign</label>
              <input type="text" class="form-control" id="callsign" name="callsign" placeholder="Enter Callsign">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
      </form>
  </nav>
  <div class="row">
   <div class="col-md-6">
       <h5>Type : {{data.type}}</h5>
       <h5>Class : {{data.class}}</h5>
       <h5>Callsign : {{data.callsign}}</h5>
       <h5>Name : {{data.name}}</h5>
       <h5>Address : {{data.address}}</h5>
       <h5>Location : {{data.location}}</h5>
       <h5>Other Info : {{data.otherInfo}}</h5>
   </div>
 </div>
</body>

</html>
